
<div class="mt4">
  <div class="row justify-content-center">
    {{#each courses }}
    <div class="col-sm-6 col-lg-4">
      <div class="card" style="width: 18rem; margin:10px 5px;">
        <a class="check" href="/courses/{{this.slug}}" onclick="return checkAccess('{{this.MusicRole}}');">
          <img src="{{this.img}}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title" >{{this.name}}</h5>
          <p class="card-text"style="max-height = 10px"> {{this.decription}}</p>
          <a href="#" class="btn btn-primary">{{this.MusicRole}}</a>
        </div>    
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
{{#collections}}
  var currentUserRole = "{{role}}";
{{/collections}}currentUserRole.onclick = function (musicRole){
    
}
  function checkAccess(musicRole) {   
    if (musicRole === "vjp" && currentUserRole == "USER") {
      alert('Chỉ dành cho người dùng VJP'); 
      return false;
    }
    return true;
  }
</script>